@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.title-toolbar {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.toolbar-style {

}

.background {
    background: url("./login.34f12655.jpg") 50% !important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

@media (min-width: 475px) {
    .background {
        background: url("./login-desktop.0a0cacb5.jpg") !important;
        background-size: cover!important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.logo{
    width: 200px;
}

.animated{
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.containerLogin{
    padding: 20px;
    width: 450px;
    margin: auto;
    box-shadow: 0 0 0 0 !important;
}

.monserrat{
    font-family: 'Montserrat', sans-serif;
}

.descriptionLogin{
    font-weight: bolder;
}

.loading{
    margin-top: -24px;
}