@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.title-toolbar {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

.toolbar-style {
    -webkit-transition: .2s cubic-bezier(.4, 0, .2, 1);
    transition: .2s cubic-bezier(.4, 0, .2, 1);
}

.background {
    background: url("./login.34f12655.jpg") 50% !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}



@media (min-width: 475px) {
    .background {
        background: url("./login-desktop.0a0cacb5.jpg") !important;
        background-size: cover !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.logo {
    width: 200px;
}

.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.containerLogin {
    padding: 20px;
    width: 450px;
    margin: auto;
    box-shadow: 0 0 0 0 !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.descriptionLogin {
    font-weight: bolder;
}

.loading {
    margin-top: -24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cardPrincipal{
    padding: 0;
}

.subCard {
    width: 45vw;
    margin: 10px;
}

.bannerCategorias{
    width: 97vw;
    bottom: 90px;
}

.imageBanner{
    display: flex;
    align-items: end!important;
}

.banner{
    margin-top: 55px;
    margin-bottom: -50px;
}

.imageBanner > .v-responsive__content{
    margin-left: 0!important;
}

@media screen and (min-width: 1024px){
    .cardPrincipal{
        padding: 48px!important;
    }
    .imageBanner{
        width: 97vw!important;
    }
    .buttonBanner{
        left: 85vw;
        top: -5vh;
    }
}

@media (max-width: 425px) {
    .cardPrincipal{
        flex-direction: column;
    }

    .subCard{
        width: 100vw;
        margin: 10px 1px 5px 1px;
    }

    .buttonBanner{
        left: 59vw!important;
        top: -5vh;
    }
}

@media (max-width: 768px){
    .buttonBanner{
        left: 80vw;
        top: -5vh;
    }
    .imageBanner{
        width: 97vw!important;
    }
}